<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seating Arrangement Set-Up</title>
    <style>
        html{
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
        }

        html::after {
            content: "";
            background: url('http://www.dq995.com/data/out/39/915793.jpg');
            background-size: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
            opacity: 0.5;
        }
     </style>
</head>
<body>
<h1>Seating Arrangement Set-Up</h1>

<p>Please choose the type of class your seating arrangement is for:</p>

<p>If it is for a full class:</p>
<form action = 'class_seating_arrangement'>
<input type="submit" value="Click Here" />
</form>

<p>If it is for other classes:</p>
<p>i.e. History classes which only part of the class takes</p>
<form action = 'special_class_seating_arrangement'>
<input type= "submit" value = "Click Here"/>
</form>

<p></p>
<a href = '{{ url_for('display_all_student_records') }}'>Cancel</a>

</body>
</html>
