<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saved Seating Arrangements</title>
</head>
<body>

<table style = "width:99%">
    <tr>
        <th align = "left">
            <h1>Saved Seating Arrangements</h1>
        </th>
        <th align = "right">
            <form action = "{{url_for('search_filter')}}">
                <input style = "font-size:32px" type="submit" value="Search" />
            </form>
        </th>
    </tr>
</table>

<table style = "width: 100%; text-align: left">
    <tr>
        <th>Name:</th>
    </tr>

    {% for seatarrname in seatarrname_lst %}
    <tr>
        <td><a id = 'currentname' href="{{ url_for('show_seatarr_by_name', seatarrname = seatarrname) }}">{{ seatarrname }}</a></td>
        <td>
            <form action = "{{ url_for('edit_saved_seatingarr',seatarrname = seatarrname)}}" method = "POST">
                <input type = 'hidden' name = 'newname' value = '' id = 'name'>
                <input type = 'submit' value = 'Rename' onclick="editFunction()">
            </form>
        </td>
        <td>
            <form action = "{{ url_for('delete_saved_seatingarr', seatarrname = seatarrname)}}" method = "POST">
                <input type = 'hidden' name = 'delete' value = 'False' id = 'confirm_delete'>
                <input type = 'submit' value = 'Delete' onclick="deleteFunction()">
            </form>
        </td>
    </tr>
    <tr>&nbsp</tr>
    {% endfor %}
</table>

<p></p>
<a href = '{{ url_for('display_all_student_records') }}'>Back</a>

<script>
function editFunction() {
    var txt = "Current name is " + document.getElementById("currentname").innerHTML;
    var seatarrname = prompt(txt + '\nRename to:');
    document.getElementById("name").value = seatarrname;
}

function deleteFunction() {
    var txt = "Are you sure you want to delete " + document.getElementById("currentname").innerHTML;
    var seatarrname = confirm(text + '?');
    if (person == null || person == "") {
    } else {
        document.getElementById("confirm_delete").value = 'True';
    }
}
</script>

</body>
</html>
