<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seating Arrangement Set-Up</title>
</head>

<body>
<h1>Seating Arrangement Set-Up</h1>

<form action = '{{ url_for('special_class_seating_arrangement')}}' method = "POST">
    <p>Please select the class/classes involved in this class:</p>
    {% for i in class_range %}
    <input type = 'checkbox' name = '{{"ClassName{}".format(i)}}' value = {{valid_classes[i]}}>{{ valid_classes[i] }}<br>
    {% endfor %}

    <p>Subject:</p>
    <select name = "SubjectName" value = "{{valid_subjects[0]}}">
        {% for subject in valid_subjects %}
        <option>{{subject}}</option>
        {% endfor %}
    </select>

    <p></p>
    <input type = "submit" formaction = 'set_student_details' value = 'Next'>

</form>

<p></p>
<a href = '{{ url_for('set_seating_arrangement') }}'>Back</a>

</body>
</html>